<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<!-- <add xdt:Transform="Insert" key="ASPNETCORE_ENVIRONMENT" value="Staging1" />-->
	</appSettings>
	<system.webServer>
		<aspNetCore>
			<environmentVariables>
				<environmentVariable xdt:Transform="Insert" name="ASPNETCORE_ENVIRONMENT" value="Dev-Env" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>